.fondonosotros{
    background-image: url(../images/fondonosotros.jpg);
    background-size: cover;
    opacity: 80%;
    background-attachment: fixed;   
    
}
    
.carolina{
    margin-bottom: 40px;
    margin-top: 40px;   
    padding: 30px; 
}
    
.carolina :hover{
    font-weight: bolder;
}


.caro{
    background-color:transparent;
    min-height: 250px;
}

.nombrecaro{
    color: darkblue;
    font-weight: bold;
}
    
.foto1{
    background-color: lightgray;
}
    
.matias{
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 30px;
}
    
.matias :hover{
    font-weight: bolder;
}
    
.mati{
    background-color: transparent;
    min-height: 250px;
}

.nombremati{
    color: darkblue;
    font-weight: bold;    
    
}
    
.foto2{
    background-color: lightgray;
}
